.header {
  display: flex;
  top: 0;
  width: 99%;
  background-color: rgba(255, 178, 79, 1);
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.Main {
  display: grid;
  padding: 10px;
  grid-template-columns: 48% 48%;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
}

.leftHalf {
  margin: 10px;
  border: 3px dashed #8a06111f;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rightHalf {
  margin: 10px;
  border: 3px dashed #8a06111f;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fileInput {
  margin: 50px 0;
}

.input-btn {
  /* text-align: center; */
  line-height: 64px;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  margin: 50px 0;
  width: 100%;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;

  transition: all 1s ease;
  -webkit-transition: all .4s ease;
}

.input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(54, 148, 248) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 1s ease;
  -webkit-transition: all .4s ease;
}

.transcription {
  padding: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.subheading {
  font-size: 2.5rem;

}